<h1><b> Sharepoint CRUD Opeation!!</b></h1>

<div ng-app="SharePointAngApp" class="row">
    <div ng-controller="spCustomerController" class="span10">

        <div class="options">
            <label class="option">
        <input type="radio" name="company" value="apple" checked>
        <div class="option-content">
            <h1 class="animated bounceIn"><i class="ion-social-apple-outline"></i></h1>
            <h4>APPLE</h4>
            <h4><i class="ion-android-radio-button-on"></i></h4>
        </div>
        <div class="on-checked"></div>
    </label>
            <label class="option">
        <input type="radio" name="company" value="facebook">
        <div class="option-content">
            <h1 class="animated bounceIn"><i class="ion-social-facebook-outline"></i></h1>
            <h4>FACEBOOK</h4>
            <h4><i class="ion-android-radio-button-on"></i></h4>
        </div>
        <div class="on-checked"></div>
    </label>
            <label class="option">
        <input type="checkbox" name="social" value="tumblr" checked>
        <div class="option-content">
            <h1 class="animated bounceIn"><i class="ion-social-tumblr-outline"></i></h1>
            <h4>TUMBLR</h4>
            <h4><i class="ion-android-checkbox-outline"></i></h4>
        </div>
        <div class="on-checked"></div>
    </label>
            <label class="option">
        <input type="checkbox" name="social" value="twitter">
        <div class="option-content">
            <h1 class="animated bounceIn"><i class="ion-social-twitter-outline"></i></h1>
            <h4>TWITTER</h4>
            <h4><i class="ion-android-checkbox-outline"></i></h4>
        </div>
        <div class="on-checked"></div>
    </label>
        </div>






    </div>
</div>