<style>
  .divItem {
    display: inline-block;
  }

  #fieldItem {
    text-align: left;
  }

  .clearFloat {
    clear: both;
  }
</style>

<div class="container">

  <div class="row">

    <div class="header">
      Read
    </div>
    <div class="wrap">
      <div class="search">
        <input id="searchTerm" type="text" class="searchTerm" placeholder="Please enter Sharepoint List Name " ng-model="searchTerm">
        <button type="button" class="searchButton" ng-click="test()">
        <i class="fa fa-search"></i>
     </button>
      </div>
    </div>
    <div class="fieldArea">
      <div class="floatClear">
        <table id="fieldItem">
          <tr>
            <td>
              <div class="divItem" ng-repeat="item in listField"> {{$index +1}}) {{item.Title}} <input type="checkbox" value="{{item.Title}}" id="field_{{searchTerm}}_{{$index+1}} "
                  ng-model="listField[$index].selectCheck" /> </div>
            </td>
          </tr>
        </table>
      </div>
      
    </div>
    <div ng-show="boolShowFieldArea" >
      <hr>
      <div class="itemSearchButton">
        <button type="button" class="searchButton" ng-click="searchItem()">
        <i class="fa fa-search"></i>
     </button>
      </div>
      <div>
        <div class="floatLeft">Number of Item in List :{{listData.length}}</div>
        <div class="clearFloat">
          <table>
            <tr ng-repeat="item in listData">

              <td ng-repeat="field in Fields">{{field.Name}}: {{item[field.Name]}} </td>

            </tr>
          </table>
        </div>
      </div>
    </div>
    <div> {{errorMessage}} </div>
  </div>

</div>